service: kinesis-retry-with-sns

plugins:
  - serverless-pseudo-parameters
  - serverless-plugin-lambda-dead-letter

provider:
  name: aws
  runtime: nodejs6.10
  versionFunctions: false
  stage: dev
  region: us-east-1

# you can add statements to the Lambda function's IAM Role here
  iamRoleStatements:
    - Effect: Allow
      Action: sns:Publish
      Resource: arn:aws:sns:#{AWS::Region}:#{AWS::AccountId}:kinesis-retry-with-sns
    - Effect: Allow
      Action: kinesis:PutRecord
      Resource: arn:aws:kinesis:#{AWS::Region}:#{AWS::AccountId}:stream/kinesis-retry-with-sns
    - Effect: Allow
      Action: sqs:SendMessage
      Resource: arn:aws:sqs:#{AWS::Region}:#{AWS::AccountId}:kinesis-retry-with-sns-dlq

functions:
  api:
    handler: functions/api.handler
    events:
      - http:
          path: /
          method: get
    environment:
      stream: kinesis-retry-with-sns

  kinesis:
    handler: functions/kinesis.handler
    events:
      - stream: arn:aws:kinesis:#{AWS::Region}:#{AWS::AccountId}:stream/kinesis-retry-with-sns
    environment:
      snsFallback: arn:aws:sns:#{AWS::Region}:#{AWS::AccountId}:kinesis-retry-with-sns

  sns:
    handler: functions/sns.handler
    events:
      - sns: kinesis-retry-with-sns
    deadLetter: 
      targetArn:
        GetResourceArn: DeadLetterQueue

# you can add CloudFormation resource templates here
resources:
  Resources:
    Kinesis:
      Type: AWS::Kinesis::Stream
      Properties: 
        Name: kinesis-retry-with-sns
        ShardCount: 1

    DeadLetterQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: kinesis-retry-with-sns-dlq